@model List<Card_generator.Models.CardViewModel>

<div class="select-div">
    <select id="cardSelector">
        <option>None</option>
        @foreach (var cardViewModel in Model)
        {
            <option value="@(cardViewModel.CardID)">@(cardViewModel.TopCenterLabel.Label)</option>
        }
    </select>
    <a id="btn-Convert-Html2Image" href="#">Download</a>
</div>
@foreach (var cardViewModel in Model)
{
    Html.RenderPartial("_Card", cardViewModel);
}

<style>
    div {
        display: inline;
        font-family: Papyrus, fantasy;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .select-div {
        display: block;
        background-color: darkseagreen;
        border-radius: 15px;
        padding: 15px;
        margin: 15px;
        margin-top: 30px;
    }
    .border-div {
	    border: 1px solid black;
	    border-radius: 15px;
	    width: 571px;
	    height: 800px;
	    display: inline-block;
    }
    .card-label {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        margin: 5px;
        height: 120px;
        font-size: 30px;
        color: white;
        text-shadow: 1px 1px 0 #000,
                    -1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000,
                    0px 1px 0 #000,
                    0px -1px 0 #000,
                    -1px 0px 0 #000,
                    1px 0px 0 #000,
                    2px 2px 0 #000,
                    -2px 2px 0 #000,
                    2px -2px 0 #000,
                    -2px -2px 0 #000,
                    0px 2px 0 #000,
                    0px -2px 0 #000,
                    -2px 0px 0 #000,
                    2px 0px 0 #000,
                    1px 2px 0 #000,
                    -1px 2px 0 #000,
                    1px -2px 0 #000,
                    -1px -2px 0 #000,
                    2px 1px 0 #000,
                    -2px 1px 0 #000,
                    2px -1px 0 #000,
                    -2px -1px 0 #000;
    }
    .top, .bottom {
        height: 80px;
        line-height: 80px;
    }
    .centerRow{
        height: 600px;
        line-height: 608px;
    }
    .centerColumn{
        width: 371px;
    }
    .left, .right {
        width: 80px;
    }
    .centerRow.right, .centerRow.left {
        line-height: 80px;
        /* TODO: Fix rotated text, since unsupported by HTML2Canvas*/
    }
</style>